<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker News Clone</title>
    <meta name="description"
        content="The idea behind this project is to design the clone of hacker news website using react.js">
</head>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sat853">
<meta name="twitter:title" content="Hacker News Clone">
<meta name="twitter:description"
    content="The idea behind this project is to design the clone of hacker news website using react.js">
<meta name="twitter:creator" content="@sat853">
<meta name="twitter:image" content="https://jayclouse.com/wp-content/uploads/2019/06/hacker_news-1000x525-1.jpg">
<meta property="og:title" content="Hacker News Clone" />
<meta property="og:description"
    content="The idea behind this project is to design the clone of hacker news website using react.js">
<meta property="og:type" content="article" />
<meta property="og:url" content="${link}" />
<meta property="og:image" content="https://jayclouse.com/wp-content/uploads/2019/06/hacker_news-1000x525-1.jpg" />
<meta property="og:site_name" content="Hacker News Clone" />
<link rel="canonical" href="" />
<link rel="shortcut icon" type="image/png" href="https://news.ycombinator.com/favicon.ico" />
<link rel="apple-touch-icon-precomposed"
    href="https://jayclouse.com/wp-content/uploads/2019/06/hacker_news-1000x525-1.jpg" />

<body>
    {{{body}}}
</body>

</html>